footer.footer
  .container
    .footer-row
      .footer__column
        a(class='footer__logo')
          img(src="../img/logo-footer.svg", alt="Cat Energy")
      .footer__column
        ul.social
          li.social__item
            a(class='social__link' href='#')
              svg(class='social__icon social__icon--vk' width='30' height='16')
                use(xlink:href="img/sprite.svg#icon-vk-mobile")
          li.social__item
            a(class='social__link' href='#')
              svg(class='social__icon social__icon--insta' width='23' height='23')
                use(xlink:href="img/sprite.svg#icon-insta-mobile")
          li.social__item
            a(class='social__link' href='#')
              svg(class='social__icon social__icon--fb' width='14' height='28')
                use(xlink:href="img/sprite.svg#icon-fb-mobile")
      .footer__column
        a(class='developer' href='#')
          svg(class='developer__icon' width='27' height='34')
            use(xlink:href="img/sprite.svg#htmlacademy")