.map
  .container
    section.invitation
      h4.heading-quaternary.invitation__text
        | приглашаем 
        br
        | к сотрудничеству дилеров!
      p.invitation__adress ул. Большая Конюшенная, д. 19/8
        span Санкт-Петербург
  #map.map__iframe 