include ../components/button/button
include ../components/program/program
doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Cat Energy
    include assets/_metas
    include assets/_links
  body
    - var bgImage = true
    include ../components/header/header
    main.overflow--none
      .container
        section.main-section
          h1.heading-primary
            span.heading-primary--main Функциональное питание для котов
            span.heading-primary--sub Занялся собой? Займись котом!
          picture
            source(type='image/webp', media='(min-width: 1300px)', srcset='img/index-can-desktop@1x.webp, img/index-can-desktop@2x.webp 2x')
            source(type='image/webp', media='(min-width: 768px)', srcset='img/index-can-tablet@1x.webp, img/index-can-tablet@2x.webp 2x')
            source(type='image/webp', srcset='img/index-can-mobile@1x.webp, img/index-can-mobile@2x.webp 2x')
            source(type='image/webp', media='(min-width: 1300px)', srcset='img/index-can-desktop@1x.png, img/index-can-desktop@2x.png 2x')
            source(type='image/webp', media='(min-width: 768px)', srcset='img/index-can-tablet@1x.png, img/index-can-tablet@2x.png 2x')
            img(class="main-section__product" src="img/index-can-desktop@1x.png" srcset='img/index-can-tablet@2x.png 2x')
          +btn("Подобрать программу", 'small')
        section.programs-section.programs
          +program("program__icon--slim", "sprite.svg#cat-slim", "Похудение", "Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.", "Каталог Slim")
          +program("program__icon--pro", "sprite.svg#cat-pro", "Набор массы", "Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!", "Каталог Pro")
        section.advantages-section.advantages
          h2.heading-secondary.advantages-title Как это работает
          include ../components/advantage/advantage
      include ../components/example/example
      include ../components/map/map
    include ../components/footer/footer


    include assets/_scripts