.example
  .container
    .example__row
      section.example__column--left
        h2.heading-secondary.example-title Живой пример
        p.example__text Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день. 
        .example__wrapper
          ul.result
            li.result__item 
              .result__wrapper
                strong.result__total 5 кг
                p.result__sub снижение веса
            li.result__item
              .result__wrapper
                strong.result__total 60 дней 
                p.result__sub затрачено времени
          p.example__total
            span Затраты на питание: 
             |15 000 руб.
      section.example__column--right
        .comparisons
          .comparisons__img
            picture
              source(media="(min-width: 1300px)", srcset="img/before-desktop@1x.webp, img/before-desktop@2x.webp 2x", type="image/webp")
              source(media="(min-width: 768px)", srcset="img/before-tablet@1x.webp, img/before-tablet@2x.webp 2x", type="image/webp")
              source(srcset="img/before-mobile@1x.webp, img/before-mobile@2x.webp 2x", type="image/webp")
              source(media="(min-width: 1300px)", srcset="img/before-desktop@1x.png, img/before-desktop@2x.png 2x")
              source(media="(min-width: 768px)", srcset="img/before-tablet@1x.png, img/before-tablet@2x.png 2x")
              img(class="comparisons__img--before",src="img/before-mobile@1x.png", srcset="img/before-mobile@2x.png 2x",alt="Cat")
            picture
              source(media="(min-width: 1300px)", srcset="img/after-desktop@1x.webp, img/after-desktop@2x.webp 2x", type="image/webp")
              source(media="(min-width: 768px)", srcset="img/after-tablet@1x.webp, img/after-tablet@2x.webp 2x", type="image/webp")
              source(srcset="img/after-mobile@1x.webp, img/after-mobile@2x.webp 2x", type="image/webp")
              source(media="(min-width: 1300px)", srcset="img/after-desktop@1x.png, img/after-desktop@2x.png 2x")
              source(media="(min-width: 768px)", srcset="img/after-tablet@1x.png, img/after-tablet@2x.png 2x")
              img(class="comparisons__img--after",src="img/after-mobile@1x.png", srcset="img/after-mobile@2x.png 2x",alt="Cat")
          .comparisons__range
            span.comparisons__btn Было
            .comparisons__progress
              .comparisons__thumb
            span.comparisons__btn Стало